#dashboard {
      width: 80%;
      margin-left: 0%;
      position: absolute;
      right: 100%;
      z-index: 1;
}

.dopcionMenu {
      width: 100%;
      background-color: #2C343F;
      /*border-bottom: 1px solid white;*/
      height: 40px;
      float: left;
}

.diconoMenu {
      float: left;
      margin-left: 10%;
      margin-top: 7px;
      margin-bottom: 7px;
      height: 26px;
}

.dtituloOpcionMenu {
      float: left;
      margin-left: 5%;
      font-size: 26px;
      margin-bottom: 7px;
      color: white;
}



.dsubIconoMenu {
      float: left;
      margin-left: 10%;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 20px;
}

.dtituloSubOpcionMenu {
      float: left;
      margin-left: 5%;
      font-size: 15px;
      margin-top: 4px;
      color: white;
}

#dverInformeAyD p {
      font-size: 5px;
      margin-top: 11px;
}


#dverInformePedP p {
      font-size: 5px;
      margin-top: 11px;
}


#dverCronograma p{
      font-size: 13px;
      margin-top: 11px;
}

.dsubmenu {
      width: 97%;
      height: auto;
      float: left;
      background-color: #2C343F;
      display: none;
      font-size: 5px;
}

.dsubOpcionMenu {
      width: 100%;
      background-color: #2C343F;
      margin-top: 1%;
      height: 40px;
      float: left;
      font-size: 5px;
}
