#dashboard {
   background: #2C343F;
   height: 1000px;
}

#dashboard div a {
   text-decoration: none;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

.opcionDashboard div{
   font-size: 1.5em;
   color: #c3c3c3;
}

.opcionDashboard:hover {
   background: #232a32;
}

.opcionDashboard div:hover{
   color: white;
}

#dsubmenuInventario, 
#dsubmenuDeptoArea,
#dsubmenuAlmacen,
#dsubmenuProveedor,
#dsubmenuCliente,
#dsubmenuInforme {
   display: none;
}

.dsubOpcionMenu div{
   font-size: 1em;
   color: #c3c3c3;
}

.dsubOpcionMenu:hover {
   background: #232a32;
}

.dsubOpcionMenu div:hover{
   color: white;
}

@media only screen and (max-width: 576px) {
   #dashboard {
      display: none;
   }
}