body {
	background-color: #333333;
	font-family: 'Source Sans Pro', sans-serif;
}

.form-control {
	background: white;
}

#titulo {
	color: #2CABE3;
} 

#logo-usuario {
	color: white;
	font-size: 6em;
}

.etiqueta {
	color: white;
	font-size: 2em;
}

.btn-entrar {
	background-color: #53E69D;
	color: white;
}
